@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #FFF;
  font-family: Roboto, sans-serif;
}

.list {
  transform: translateY( -150px)
}

footer {
  margin: 50px 0;
  text-align: center;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
}
.loading img {
  max-width: 500px;
}
